.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 51, 57, 0.8);
  border-radius: 10px;
  padding: 1rem 10px;
  gap: 5px;
  transition: all 0.3s ease;
  min-height: 13rem;
  height: fit-content;
  text-align: center;
  aspect-ratio: 1 / 1.5;
}

.content-item:hover {
  transform: scale(1.1);
}

.content-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-item img {
  margin-bottom: 8px;
  height: 100px;
  width: auto;
  aspect-ratio: 1 / 1;
}
.content-item h3 {
  text-align: center;
  font-size: 1rem;
}
.track-container h5 {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
