.homepage-container {
  display: flex;
  align-items: center;
  color: white;
}

.homepage-content {
  padding: 20px;
  /* background-color: rgba(33, 51, 57, 0.4); */
  width: 90%;
  margin-left: 5px;
  height: 100vh;
  border-radius: 10px;
  overflow: auto;
}
.new-released {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.new-relased-items ul,
.Popular-artists-items ul,
.Popular-tracks-items ul {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 50px;
}
