.navbar-container {
  background-color: rgba(33, 51, 57, 0.5);
  width: 200px;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.navbar {
  padding: 20px 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar h3 {
  font-size: 1rem;
}

.navbar h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: all 0.3s ease;
}

.navbar-items li {
  margin: 10px;
}

.item:hover {
  color: #e879f9;
}

.navbar-login-section {
  position: absolute;
  bottom: 20px;
}
